
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="col-xs-12 panel-heading">
                <div class="col-xs-8">
                    <span class="heading">Messages Content</span>
                </div>
                <!-- <div class="col-xs-4">
                    <button class="btn btn-success">Messages</button>
                </div> -->
                <hr>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <app-message-item
                            *ngFor="let message of messages"
                            [message]="message"
                            >
                            </app-message-item>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <app-message-edit>
                    </app-message-edit>
                </div>
            </div>
        </div>
    </div>
</div>
